body 
{
    font-family: 'Ubuntu', serif; 
}

header,
nav,
main,
footer 
{
	margin: auto auto;
}

header 
{
    display: flex;
    background-color: #00AEFF;
    width:100%;
    margin-bottom:-5px;
}

header img
{
    
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

header h1
{
    padding-right: 10%;
    color: rgb(7, 7, 7);
}

nav 
{
    background-color: #00AEFF;
    align-items: center;
    width:100%;
    color: white;
    margin-top:-5px;

    display: flex;
	flex-direction: column;
	list-style: none;
}

nav a
{
    display: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:180%;
    text-decoration: none;
	color: #363535;
}

li
{
    list-style: none;
}

footer
{
    background-color: #00AEFF;
    color: white;
    text-align: center;
}

div img
{
    padding-top: 20px;
   padding-left: 10px;
}

#copyright
{
    padding-top: 20px;
    color: rgb(7, 7, 7);
}

#lastModified
{
    padding-top: 5px;
    color: rgb(7, 7, 7);
}

#myname
{
    padding-top: 5px;
    color: rgb(7, 7, 7);
}

#copyright::before 
{
    content: "🐊 ";
}

#copyright::after 
{
    content: url("/images/botswana-flag-icon.png");
}

#menu 
{
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color:red;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before 
{
	content: "☰";
}

#menu.open::before 
{
	content: "X";
}

nav a:hover 
{
	background-color: #eef0b8;
	color: #f64545;
	font-weight: 700;
}

.open 
{
	display: block;
}
.open a 
{
	display: block;
}

.active::before 
{
	content: ">";
}

.active::after 
{
	content: "<";
}

iframe
{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    max-width: 94%;
}

body h2
{
    color: black;
    font-size: 10px;
}

li a:active, li a:visited
{
	color: rgb(61, 14, 230);
}

li a:hover
{
	color: red;
}

pucture img 
{
    width: 100%;
    height: auto;
}

#events, #weather, #div1, #div2, #div3
{
    border-width: 1px;
    margin-top: 10px;
    border-style: solid;
    border-color:white;
    background-color: gainsboro;
}

/* For discover page */

section
{
    border-style: solid;
    border-color: rgb(220, 213, 213);
}

.info
{
    border-style: solid;
    border-color: rgb(220, 213, 213);
}

#discover-main
{
    display: flex;
    flex-direction: column;
}

#leftside
{
    display: flex;
    flex-direction: column;
}

#leftsideimg
{
    width: 100%;
    height: auto;
}
