body 
{
    font-family: 'Ubuntu', serif; 
}

header,
nav,
main,
footer 
{
	margin: auto auto;
}

header 
{
    display: flex;
    background-color: #00AEFF;
    width:100%;
    margin-bottom:-5px;
}

header img
{
    
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
}

header h1
{
    padding-right: 10%;
    color: rgb(7, 7, 7);
}

nav 
{
    background-color: #00AEFF;
    align-items: center;
    width:100%;
    color: white;
    margin-top:-5px;

    display: flex;
	flex-direction: column;
	list-style: none;
}

nav a
{
    display: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:180%;
    text-decoration: none;
	color: #363535;
}

li
{
    list-style: none;
}

footer
{
    background-color: #00AEFF;
    color: white;
    text-align: center;
}

div img
{
    padding-top: 20px;
   padding-left: 10px;
}

#copyright
{
    padding-top: 20px;
    color: rgb(7, 7, 7);
}

#lastModified
{
    padding-top: 5px;
    color: rgb(7, 7, 7);
}

#myname
{
    padding-top: 5px;
    color: rgb(7, 7, 7);
}

#copyright::before 
{
    content: "🐊 ";
}

#copyright::after 
{
    content: url("/images/botswana-flag-icon.webp");
}

#menu 
{
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color:red;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before 
{
	content: "☰";
}

#menu.open::before 
{
	content: "X";
}

nav a:hover 
{
	background-color: #eef0b8;
	color: #f64545;
	font-weight: 700;
}

.open 
{
	display: block;
}
.open a 
{
	display: block;
}

.active::before 
{
	content: ">";
}

.active::after 
{
	content: "<";
}

iframe
{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    max-width: 94%;
}

body h2
{
    color: black;
    font-size: 10px;
}

li a:active, li a:visited
{
	color: rgb(61, 14, 230);
}

li a:hover
{
	color: red;
}

pucture img 
{
    width: 100%;
    height: auto;
}

#events, #weather, #div1, #div2, #div3
{
    border-width: 1px;
    margin-top: 10px;
    border-style: solid;
    border-color:white;
    background-color: gainsboro;
}

/* For discover page */

.info
{
    border-style: solid;
    border-color: rgb(220, 213, 213);
}

#discover-main
{
    display: flex;
    flex-direction: column;
}

#leftside
{
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-color: rgb(220, 213, 213);
}

#leftsideimg
{
    width: 100%;
    height: auto;

    border-style: solid;
    border-color: rgb(220, 213, 213);
}

.info h2, .info p
{
    padding-left: 10px;
}

/* for the join form */

.joinfieldsets
{
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

.japplicant, .jmembership
{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

.japplicant input, .japplicant textarea
{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

#rangevalues option 
{
	flex: 1 1 auto;
}

.joinfieldsets .jmembership input
{
	margin-right: 5px;
}

#jsubmitBtn
{
    border: none;
    background-color: rgb(41, 147, 213);
    color:white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

/* table css */

:root
{
    --border1: hsla(230, 100%, 1%, 0.895);
    --backcolor1: hsl(228, 100%, 1%);
    --backcolor2: hsla(0, 1%, 33%, 0.454);
    --fontcolor: hsl(0, 20%, 98%);
    --border2: hsl(0, 1%, 59%);
    --zebracolor: hsl(210, 3%, 14%);
}

body 
{
	font-family: "Ubuntu", Arial, serif;
}
table 
{
	margin: 10px auto;
    max-width: 100px;
	border: thin solid var(--border1);
    text-align: center;
    border-collapse: collapse;
}
caption 
{
    padding: 10px;
    caption-side: bottom;
}

#colgroup
{
    background-color: var(--backcolor1);
    color: var(--fontcolor);
}

.subcol
{
    background-color: var(--backcolor2);
    color: black;
}

thead tr td
{
    background-color: var(--backcolor1);
    color: var(--fontcolor);
}

th, td 
{
	padding: 7px 15px;
	border: 1px solid var(--border2);
}
tbody tr:nth-child(odd) {
	background-color: var(--zebracolor);
    color: white;
}

#recordmessage
{
    color: red;
    font-size: 2rem;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

#buttons
{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
#grid
{
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 2.5px;
}
#list
{
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2.5px;
}

@media screen and (max-width: 500px)
{
    /* directory css */

    /*grid style*/
    #cards
    {
        display:flexbox;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .grid 
    {
        display: contents;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-gap: 5px;
        align-items: center;
        padding-top: 20px;
    }

    .grid section 
    {
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #eee;
        width: 340px;
        height: auto;
        margin: auto;
    }

    .grid img 
    {
        border: 1px solid #fff;
        box-shadow: 0 0 10px #333;
        height: auto;
        max-width: 100%; 
    }

    .grid section > * 
    {
        margin: 0.1rem;
    }

    /*list style*/
    #cards
    {
        display:flexbox;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .list 
    {
        display: contents;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
        grid-gap: 5px;
        align-items: center;
        padding-top: 20px;
    }

    .list section 
    {
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0.5rem;
        background-color: #eee;
        width: 340px;
        height: auto;
        margin: auto;
    }

    .list img 
    {
        display: none;
    }
}
