body 
{
    font-family: 'Ubuntu', serif; 
}

header,
nav,
main,
footer 
{
	margin: auto auto;
}

header 
{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(57, 57, 95);
    align-items: center;
    width:100%;
    margin-bottom:-5px;
}

img
{
    
    padding-left: 10%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    grid-column: 1 / 2;
    margin-left: auto;
}

header h1
{
    grid-column: 2 / 3;
    padding-right: 10%;
    color: white;
    margin-right: auto;
}

nav 
{
    background-color: rgb(197, 221, 240);
    align-items: center;
    width:100%;
    color: white;
    margin-top:-5px;

    display: flex;
	flex-direction: column;
	list-style: none;
}

nav a
{
    display: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:180%;
    text-decoration: none;
	color: #363535;

}

main h1
{
    text-align: center;
    border-style: none none solid none;
    border-color:gray;
    border-width: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

section
{
    border-radius: 10px;
    border-width: 1px;
    margin-top: 10px;
    border-style: solid;
    border-color:gray;
    margin-left: 20px;
    margin-right: 20px;
}

section h3
{
    border-radius: 10px 10px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(57, 57, 95);
    margin-top: 0;
    color: white;
}

li
{
    list-style: none;
}

footer
{
    background-color: rgb(57, 57, 95);
    text-align: center;
    color: white;
}

#copyright
{
    text-align: center;
    padding-top: 20px;
}

#lastModified
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#copyright::before 
{
    content: "🐊 ";
}

#copyright::after 
{
    content: url("/images/botswana-flag-icon.png");
}

#menu 
{
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color:red;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before 
{
	content: "☰";
}

#menu.open::before 
{
	content: "X";
}

nav a:hover 
{
	background-color: #eef0b8;
	color: #f64545;
	font-weight: 700;
}

.open 
{
	display: block;
}
.open a 
{
	display: block;
}

.active::before 
{
	content: "👓 ";
}

iframe
{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    max-width: 94%;
}